@model TalentPool.Web.Models.EvaluationViewModels.CreateOrEditSubjectViewModel
@{
    ViewData["PageHeader"] = "技术评测管理";
    ViewData["Title"] = "创建一条新的技术点记录";
}
<div class="row">
    <div class="col-12">
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">@ViewData["Title"]</h3>
            </div>
            <form role="form" method="post" asp-action="CreateSubject">
                <input type="hidden" asp-for="EvaluationId" />
                <div class="card-body">
                    <div class="form-group">
                        <label>关键项</label>
                        <input type="text" class="form-control" asp-for="Keyword" />
                        <span asp-validation-for="Keyword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>权重</label>
                        <input class="form-control" type="number" value="0" name="Weight" />
                        <span asp-validation-for="Weight" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>描述</label>
                        <textarea class="form-control" rows="5" asp-for="Description"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">提交</button>
                    <a asp-action="Subjects" asp-route-EvaluationId="@Model.EvaluationId" class="btn btn-default">返回技术点列表</a>
                    <a asp-action="List" class="btn btn-default">返回技术评测列表</a>
                </div>
            </form>
        </div>
    </div>
</div>
