@model TalentPool.Web.Models.EvaluationViewModels.DeleteQuestionViewModel
@{
    ViewData["PageHeader"] = "技术评测管理";
    ViewData["Title"] = "删除一条技术问题记录";
}

<div class="row">
    <div class="col-md-6">
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">
                    操作提示
                </h3>
            </div>
            <form role="form" asp-action="DeleteQuestion" method="post">
                <input type="hidden" asp-for="Id">
                <input type="hidden" asp-for="SubjectId">
                <input type="hidden" asp-for="EvaluationId">
                <div class="card-body">
                    <i class="fas fa-question-circle fa-2x"></i>  请问是否确定删除技术问题“@Model.Description”吗？
                    数据删除是不可恢复的，请谨慎操作！
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-danger">确定</button>
                    <a asp-action="Questions" asp-route-SubjectId="@Model.SubjectId" asp-route-EvaluationId="@Model.EvaluationId" class="btn btn-default">返回问题列表</a>
                    <a asp-action="List" class="btn btn-default">返回评测列表</a>
                </div>
            </form>
        </div>
    </div>
</div>