@model TalentPool.Web.Models.SettingViewModels.UserCustomSettingViewModel
@{
    ViewData["PageHeader"] = "配置管理";
    ViewData["Title"] = "个人配置";
}
<div class="card">
    <div class="card-header">
        <h5 class="card-title">@ViewData["Title"]</h5>
    </div>
    <form role="form" asp-action="UserCustomSetting" method="post">
        <div class="card-body">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="row">
                <div class="form-group col-md-12">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" asp-for="DefaultOnlySeeMyselfData">
                        <label class="form-check-label" asp-for="DefaultOnlySeeMyselfData">默认仅查看我的数据（工作台、简历列表、预约列表、调查列表）</label>
                    </div>
                </div> 
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">保存</button>
        </div>
    </form>
</div>
