@using TalentPool.Configurations
@inject ConfigurationManager ConfigurationManager
@{ 
                var siteSettings = await ConfigurationManager.GetSettingAsync<SiteSetting>(); }
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewData["Title"] - @siteSettings.SiteName</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    <link href="~/lib/admin-lte/css/adminlte.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <link href="~/css/talent.account.css" rel="stylesheet" asp-append-version="true" />
</head>
<body class="hold-transition login-page">
    <div class="vague-background"></div>
    <p class="container text-right">
        <button id="btnDownload" data-image="" class="btn btn-outline-light text-danger" title="喜欢背景图片，点击按钮下载" data-toggle="tooltip" data-placement="right">
            <i class="fas fa-heart"></i>
        </button>
    </p>
    <div class="login-box"> 
        <div class="card">
            <div class="card-body login-card-body">
                @RenderBody()
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/lib/admin-lte/js/adminlte.min.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/talent.account.js" asp-append-version="true"></script>
    @RenderSection("Scripts", false)
</body>
</html>
