@model Une.TalentPool.Web.Models.SettingViewModels.SiteSettingViewModel
@{
    ViewData["PageHeader"] = "配置管理";
    ViewData["Title"] = "站点配置";
}
<div class="card">
    <div class="card-header">
        <h5 class="card-title">@ViewData["Title"]</h5>
    </div>
    <form role="form" asp-action="SiteSetting" method="post" enctype="multipart/form-data">
        <div class="card-body">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="row">

                <div class="form-group col-md-12">
                    <label>站点名称</label>
                    <input type="text" asp-for="SiteName" class="form-control" />
                    <span asp-validation-for="SiteName" class="text-danger"></span>
                </div>
                <div class="form-group col-md-12">
                    @if (string.IsNullOrEmpty(Model.Logo))
                    {
                        <img class="img-fluid  logo-img" src="/img/default.jpg" width="128" />
                    }
                    else
                    {
                        <img class="img-fluid logo-user-img" src="@Model.Logo" width="128" />
                    } 
                    <div class="custom-file mt-2">
                        <input type="file" class="custom-file-input" id="logoFile" asp-for="Logo">
                        <label class="custom-file-label">请选择你上传的Logo文件</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">保存</button>
        </div>
    </form>
</div>
@section scripts{
    <script type="text/javascript">
        $(function () {

            $("#logoFile").change(function () {
                var url = null;
                if (window.createObjectURL != undefined) {
                    url = window.createObjectURL(this.files[0]);
                } else if (window.URL != undefined) {
                    url = window.URL.createObjectURL(this.files[0]);
                } else if (window.webkitURL != undefined) {
                    url = window.webkitURL.createObjectURL(this.files[0]);
                }
                console.log(this.files[0]);
                $(".logo-img").attr("src", url);
            })
        })
    </script>
}