@using Une.TalentPool.Web.Models.AccountViewModels
@model ResetPasswordViewModel
@{ 

    Layout = "_AccountLayout";
    ViewData["Title"] = "重置密码"; }

<form asp-controller="Account" asp-action="ResetPassword" method="post" class="form-horizontal" role="form">
    <h4>请输入你的密码</h4>
    <hr />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input asp-for="Code" type="hidden" /> 
    <div class="input-group mb-3">
        <input type="email" class="form-control" placeholder="请输入邮箱" asp-for="Email">
        <div class="input-group-append">
            <div class="input-group-text">
                <span class="fas fa-envelope"></span>
            </div>
        </div>
    </div>
    <div class="input-group mb-3">
        <input type="password" class="form-control" placeholder="请输入密码" asp-for="Password">
        <div class="input-group-append">
            <div class="input-group-text">
                <span class="fas fa-lock"></span>
            </div>
        </div>
    </div>
    <div class="input-group mb-3">
        <input type="password" class="form-control" placeholder="请再次确认密码" asp-for="ConfirmPassword">
        <div class="input-group-append">
            <div class="input-group-text">
                <span class="fas fa-lock"></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">确认</button>
        </div>
    </div>
</form>
