@model Une.TalentPool.Web.Models.EvaluationViewModels.CreateOrEditEvaluationViewModel
@{ ViewData["PageHeader"] = "技术评测管理";
    ViewData["Title"] = "创建技术评测"; }

<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">@ViewData["Title"]</h3>
    </div>
    <form role="form" method="post" asp-action="Create" asp-controller="Evaluation">
        <div class="card-body">
            <div class="row">
                <div class="form-group col-md-12">
                    <label>职位</label>
                    <select class="form-control" name="JobId" asp-items="Model.Jobs">
                        <option value="">=请选择职位=</option>
                    </select>
                    <span asp-validation-for="JobId" class="text-danger"></span>
                </div>
                <div class="form-group  col-md-12">
                    <label>标题</label>
                    <input type="text" class="form-control" asp-for="Title">
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary">提交</button>
                <a asp-action="List" class="btn btn-default">返回列表</a>
            </div>
        </div>
    </form>
</div>
