@model Une.TalentPool.Web.Models.EvaluationViewModels.SelectEvaluationViewModel

@{ ViewData["PageHeader"] = "技术评测管理";
    ViewData["Title"] = "选择职位对应的技术评测题"; }
<div class="row">
    <div class="col-12">
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">@ViewData["Title"]</h3>
            </div>
            <form role="form" method="post" asp-action="SelectEvaluation" asp-controller="Evaluation">
                <div class="card-body">
                    <input type="hidden" asp-for="InvestigationId" />
                    <input asp-for="Name" type="hidden" />
                    <select class="form-control" asp-for="EvaluationId" asp-items="@Model.Evaluations">
                        <option value="">==选择技术评测题== </option>
                    </select>
                    <span asp-validation-for="EvaluationId" class="text-danger"></span>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">确认技术评测题</button>
                    <a asp-action="List"  class="btn btn-default">返回调查列表</a>
                </div>
            </form>
        </div>
    </div>
</div>
