@model Van.TalentPool.Web.Models.InvestigationViewModels.AuditInvestigationViewModel
@{
    ViewData["Header"] = "意向调查管理";
    ViewData["Title"] = "审核一条调查记录";
}


<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">@ViewData["Title"]</h3>
    </div>
    <form role="form" method="post" asp-action="Audit">
        <div class="card-body"> 
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden"  value="@Model.Id" readonly asp-for="Id">
            <div class="row">
                <div class="form-group col-md-12">
                    <label>姓名</label>
                    <input type="text" class="form-control" readonly asp-for="Name">
                </div>
                <div class="form-group col-md-12">
                    <label>是否合适</label>
                    <div class="form-group">
                        <div class="custom-control custom-radio">
                            @Html.RadioButtonFor(r => r.IsQualified, false, new { @id = "IsQualifiedRadio1", @name = "IsQualified", @class = "custom-control-input" })
                            <label for="IsQualifiedRadio1" class="custom-control-label">不合适</label>
                        </div>
                        <div class="custom-control custom-radio">
                            @Html.RadioButtonFor(r => r.IsQualified, true, new { @id = "IsQualifiedRadio2", @name = "IsQualified", @class = "custom-control-input" })
                            <label for="IsQualifiedRadio2" class="custom-control-label">合适</label>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <label>不通过原因</label>
                    <div class="btn-group btn-group-sm" id="btn-remarks">
                        <button type="button" class="btn btn-default" data-remark="技术评测不合格">技术评测不合格</button>
                        <button type="button" class="btn btn-primary" data-remark="薪资要求过高">薪资要求过高</button>
                    </div>
                    <textarea class="form-control" asp-for="QualifiedRemark"></textarea>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">提交</button>
            <a asp-action="List" class="btn btn-default">返回列表</a>
        </div>
    </form>
</div>

@section scripts{
    <script>

        $(function () {
            $("#btn-remarks button").click(function () {
                $("textarea[name='QualifiedRemark']").val($(this).data("remark"));
            })
        });
    </script>
}