@model Van.TalentPool.Web.Models.InvestigationViewModels.FinshOrRestoreModel
@{
    ViewData["PageHeader"] = "面试调查管理";
    ViewData["Title"] = "结束一条意向调查记录 - " + Model.Name;
}

<div class="row">
    <div class="col-md-6">
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">
                    结束调查记录
                </h3>
            </div>
            <form role="form" method="post"  asp-action="Finsh">
                <div class="card-body">
                    <input type="hidden" asp-for="Id">
                    <i class="fas fa-question-circle fa-2x"></i> 请问是否确定结束对 "@Model.Name" 的调查记录？
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-danger">确定</button>
                    <a asp-action="List" class="btn btn-default">返回列表</a>
                </div>
            </form>
        </div>
    </div>
</div>