@inject IUserIdentifier UserIdentifier
@model TalentPool.Web.Models.ResumeViewModels.GenerateKeywordViewModel

@{ ViewData["PageHeader"] = "简历库管理";
    ViewData["Title"] = "生成关键词 - " + Model.Name; }

<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">@ViewData["Title"]</h3>
    </div>
    <form role="form" method="post" asp-action="GenerateKeywords">
        <div class="card-body">
            <input type="hidden" class="form-control" asp-for="Id">
            <div class="row">

                <div class="form-group col-md-6">
                    <label>姓名</label>
                    <input type="text" class="form-control" asp-for="Name" readonly>
                </div>

                <div class="form-group col-md-12">
                    <label>简历内容</label>
                    <textarea type="text" class="form-control" asp-for="Description" readonly></textarea>
                </div>

                <div class="from-group col-md-12">
                    <label>简历去重关键词<small>（该项用于检测简历相似度，内容为简历内容中自动提取的公司名称，如果提取失败则可以手动输入，每个公司名称请用空格隔开）</small></label>
                    <div class="input-group">
                        <input class="form-control" asp-for="Keywords" />
                        <div class="input-group-append">
                            <button type="button" class="btn btn-primary" id="btnGenerate">生成</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">提交</button> 
            <a href="/Resume/List" class="btn btn-default">返回简历列表</a>
        </div>
    </form>
</div>

@section styles {
    <link href="~/lib/summernote/summernote-bs4.min.css" rel="stylesheet" />
}
@section scripts {
    <script src="~/lib/summernote/summernote-bs4.min.js"></script>
    <script src="~/lib/summernote/lang/summernote-zh-CN.min.js"></script>
    <script>
        $("textarea[name='Description']").summernote({ toolbar: [] });

        $("#btnGenerate").click(function () {

            var content = $("textarea[name='Description']").summernote("code");
            // 查找公司
            content = content.replace(/<[^>]*?>/g, " ");
            var regex = new RegExp(/(?<=(&nbsp;|公司名称：|\s))([a-zA-Z\u4e00-\u9fa5（）\(\)]{4,}公司{1}|[a-zA-Z0-9\u4e00-\u9fa5（）\(\)]{2,}集团{1})([a-zA-Z0-9\u4e00-\u9fa5（）\(\)]*)(?=\s|&nbsp;)/, 'g');
            var matches = content.match(regex);
            if (matches) {
                var message = [];
                for (var i = 0; i < matches.length; i++) {
                    if (message.indexOf(matches[i]) > -1)
                        continue;
                    message.push(matches[i]);
                }
                $("input[name='Keywords']").val(message.join(' '));
            } else {
                console.info("未提取到公司。");
            }
        })
       

    </script>
}
