
@{
    ViewData["PageHeader"] = "异常界面";
    ViewData["Title"] = "页面找不到了";
}
<div class="error-page">
    <h2 class="headline text-warning">404</h2>

    <div class="error-content">
        <h3><i class="fas fa-exclamation-triangle text-warning"></i> 糟糕！ 页面找不到了.</h3>

        <p>
            我们无法找到你请求的页面，或许你可以返回<a href="/">首页</a>重新尝试。
        </p> 
    </div> 
</div>