
@{
    ViewData["PageHeader"] = "异常界面";
    ViewData["Title"] = "系统出现故障"; 
}
<div class="error-page">
    <h2 class="headline text-danger">500</h2>

    <div class="error-content">
        <h3><i class="fas fa-exclamation-triangle text-danger"></i> 糟糕！ 系统运行发生了错误。</h3>

        <p>
           我们会努力找到正确的方法去修复这个错误，或许你可以返回<a href="/">首页</a>重新尝试。
        </p>
    </div>
</div>